# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
www/sites/default/files
www/sites/default/settings.ph
www/.sass-cache
